
  

  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button> </ion-back-button>
      </ion-buttons>
      <ion-title>Register</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="log">
    
 
    <form [formGroup]="form" >
      <ion-item id="Email" lines="full">
          <ion-label  position="floating">Email</ion-label>
          <ion-input  type="email" formControlName="email"></ion-input>
         </ion-item >
      <ion-label class="enterEmail" color ="danger" *ngIf="form.get('email')?.hasError('required') && form.get('email')?.touched">Email is required</ion-label>
      <ion-item id="pass" lines="full">
        <ion-label position="floating">Password</ion-label>
        <ion-input  name="Password" formControlName="password" type="password" ></ion-input>
      </ion-item>
      <ion-label class=" enterpass" color ="danger" *ngIf="form.get('password')?.hasError('required') && form.get('password')?.touched">Password is required</ion-label>
     
      <a class="Fpassword"[routerLink]="['/forgot-password']" class="small-text">Forgot Password?</a>
      <ion-row>
        <ion-col>
          <ion-button class="signin" id="popover-button">Sign In</ion-button>
             <ion-popover trigger="popover-button" [dismissOnSelect]="true">
               <ng-template>
               <ion-content>
              <ion-list>
          <ion-item class="login" type="submit"  expand="block" [disabled]="form.valid" [routerLink]="['/dashboard']"  (click)="login()" >Log In as Student</ion-item>
          <ion-item class="login" type="submit"  expand="block" [disabled]="form.valid" [routerLink]="['/dashboard2']"  (click)="login2()" >Log In as Teachers</ion-item>
         
         
        </ion-list>
      </ion-content>
    </ng-template>
    
  </ion-popover>
          
          
        </ion-col>
      </ion-row>
    </form>
  
</ion-content>