@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
ion-content{
    font-family: sans-serif;
    --background: linear-gradient(112.1deg, rgb(5, 141, 0) 11.4%, rgb(14, 90, 21) 11.4%);
    .menu_btn{
        position: relative;
        top: 40px;
        left:10px;
    
    }
    .menu-background{
        background:white; 
    
    }
    .menu-content{
        width: 300px;
        color:#f5f6f8;
      
    
        top: 100px;
        left: 120px;
        font-size: 15px;
        }
    .ImageThumbnail{
        position: absolute;
        display: flex;
        width:100 ;
        height: 100px;
        margin-top: 70px;
        margin-left: 25px;
        z-index: 1;
        
    }
    .background{
        width: 345px;
        height: 130px;
        position: absolute;
        margin-top: 0px;
        margin-left: 0px;
        z-index: -1;
    }
    }
    .top{
        
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        .nameText{
            position: absolute;
            margin-top: 400px;
            margin-left: 0px;
            p{
                color: #fff;
                margin-left: 25px;
                font-size: 24px;
                span{
                    font-weight: bold;
                }
            }
            h6{
                margin-left: 25px;
                        font-size: 16px;
                        margin-top: -26px;
                        color: #cccccc;
            }
            small{
                margin-left: 25px;
                margin-top: --80px !important;
                color: #2855ae;
                background-color: #fff;
                padding: 5px 10px;
                border-radius: 10px;
            }
            .imageThumbnail{
                position: absolute;
                width: 60px;
                height:60px;
                border-radius: 50%;
                border: 2px solid #fff;
                margin-right: 20px imo !important;
                margin-top:200px ;
                
            }
        }
    }
    .middleBox{
        color: black;
        position: absolute;
        width: 150px ;
        height: 100px ;
        top: 270px;
        object-position: center ;
        margin-top: 20px;
        margin-left: 10px;
        box-shadow: 3px 3px 3px 2px #166b1d;
      
    }
    .firstDiv{
        position: absolute;
        height: 145px;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        border: 3px solid #08490b;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(120deg, #00ad0e 0%, #ffffff  100%);

       
        p{
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
             font-size: 50px;
             font-weight: bold;
             margin-top: 5px;
         }
         h5{
             margin-top: -50px;
             margin-bottom: 10px;
             color: #000000;
         }
    }
    .secondDiv{
        color: black;
        position: absolute;
        height: 145px;
        background-color: #fff;
        width: 145px;
        border-radius: 10px;
        border: 3px solid #08490b;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
        margin-left:180px ;
        background-image: linear-gradient(120deg, #00ad0e 0%, #f8faf8 100%);

        
        p{
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
             font-size: 50px;
             font-weight: bold;
             margin-top: 5px;
         }
         h5{
             margin-top: -50px;
             margin-bottom: 10px;
             color: #000000;
         }

    
    }
    .thirdDiv{
        color: black;
        position: absolute;
        height: 145px;
        background-color: #fff;
        width: 215%;
        border-radius: 10px;
        border: 3px solid #08490b;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        margin-top: 170px;
        margin-left:0px ;
        background-image: linear-gradient(120deg, #00ad0e 0%, #f8faf8 100%);

        
        p{
           font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 60px;
            font-weight: bold;
            margin-top: 5px;
        }
        h5{
            margin-top: -50px;
            margin-bottom: 10px;
            color: #000000;
        }

    
    }
   