<ion-header>
  <ion-toolbar>
    <ion-title>
     
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
  <img class="logo" src="assets\images.jpeg" alt="">
  <img class="logo1" src="assets\images1.jpeg" alt="">
  <ion-card class="card" >
    <ion-card-header>
      <ion-card-title > <ion-grid>
        <ion-row>
          <ion-col align-self-center>
            <ion-button class="regbut" [routerLink]="['/registration']" expand="block" >REGISTER</ion-button>
            <br>
            <span class="p">Already a user</span>
            <br>
            <ion-button class="logbut" [routerLink]="['/login']" expand="block"  id="click-trigger">
              <ion-icon class="iconsignin" name="log-in-outline"></ion-icon>   SIGN IN</ion-button>
            
          </ion-col>
        </ion-row>
      </ion-grid></ion-card-title>
      
    </ion-card-header>
  
   
  </ion-card>
     
   
  
  
</ion-content>