.menu-button{
    width: 80%;
    border-radius: 40px;
}
.list{
   
margin-top: 10%;
margin-left: 0%;
width: 95%;
margin-bottom: 10%;
}

.add{
    width: 40%;
    margin-left: 50%;
    margin-top: 5%;
}